body {
  font-family: Arial;
}

td[data-item='day'] {
  color: #696969;
  cursor: pointer;
  padding: 1rem;
  text-align: center;
}

td[data-item='day']::selection {
  background: none;
}

table {
  border-spacing: 0;
}

.monthLabel {
  text-align: center;
  padding: 1rem;
  font-weight: bolder;
  font-size: 1.5rem;
}

.weekDaysLabels {
  color: #27d2a3;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.weekDaysLabels th {
  padding: 1rem;
}

.timePicker {
  text-align: center;
}

.label {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -75%);
  font-size: 0.8rem;
  background: white;
  color: black;
  width: calc(100% + 1px);
}

td[data-range='true'] {
  background: #27d2a3;
  color: #ffffff;
}

td[data-first-date='true'] {
  background: red;
  color: #ffffff;
  position: relative;
}

td[data-second-date='true'] {
  background: rebeccapurple;
  color: #ffffff;
  position: relative;
}

td[data-other='true'] {
  background: #d9d9d9;
  color: #a3b7bd;
}

td.holiday[data-range='true'][data-other='true'] {
  background: #d9d9d9;
  color: #a3b7bd;
}