td[data-item='day'] {
  color: #696969;
  cursor: pointer;
  padding: 1rem;
  text-align: center;
}

td[data-item='day']:hover {
  background: lightslategrey;
  color: #ffffff;
}

td[data-item='day']::selection {
  background: none;
}

.monthLabel {
  text-align: center;
  padding: 1rem;
}

.weekDaysLabels {
  color: #27d2a3;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.timePicker {
  text-align: center;
}

.label {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -80%);
  font-size: 0.8rem;
}

td[data-range='true'] {
  background: #27d2a3;
  color: #ffffff;
}

td.holiday {
  background: orangered;
  color: #ffffff;
}

td.holiday[data-range='true'] {
  background: #ff3800;
  color: #ffffff;
}

td[data-second-date='true'] {
  background: rebeccapurple;
  color: #ffffff;
  position: relative;
}

td[data-first-date='true'] {
  background: red;
  color: #ffffff;
  position: relative;
}